@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/bg-aws.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*quetion container*/
  /*quetion container*/
}
body header nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.107);
  color: white;
}
body header nav div#\#logo {
  padding: 20px;
}
body header nav div ul {
  display: flex;
  margin: 0px;
  list-style: none;
}
body header nav div ul li {
  padding-inline: 20px;
  padding: 20px;
}
body header nav div ul li a {
  text-decoration: none;
  color: inherit;
}
body h3 {
  letter-spacing: 2px;
}
body .option span {
  background-color: orange;
  border-radius: 50%;
  font-size: 19px;
  padding: 10px 16px;
  font-weight: 700;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
body .option {
  background-color: #5b6a7e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 30px;
  cursor: pointer;
  position: relative;
}
body input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
}
body .option:hover {
  background-color: #465568;
}
body .container {
  padding: 10%;
}
body .quiz-box {
  padding: 5%;
  background-color: #465568;
  color: white;
}
body input[type=radio] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  opacity: 0;
}

.btn {
  border: none;
  padding: 12px 24px;
}

.btn-orange {
  background-color: #eb9417;
  color: white;
}

.btn-grey {
  background-color: rgba(153, 139, 120, 0.4117647059);
  color: rgb(255, 255, 255);
}

#quiz-questions-box {
  padding: 2%;
  background-color: #465568;
  color: white;
}

.bold {
  font-weight: bold;
}

.selected {
  border: 2px solid #eb9417;
  background-color: #a96200 !important;
}

.score {
  position: absolute;
  display: none;
  background-color: #ffffff;
  width: 50vw;
  top: 22%;
  left: 20%;
  text-align: center;
  padding: 20px;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 2s;
}

button.closebtn {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: transparent;
  border: none;
}

.option.success {
  background-color: #48bf9b;
}

.option.wrong {
  background-color: #e76247;
}

.score_question_comment {
  margin-top: 42px;
  background-color: rgba(2, 161, 113, 0.3882352941);
  padding: 20px;
  position: relative;
}

progress {
  width: 100%;
  position: absolute;
  top: -3px;
  left: 0px;
  height: 6px;
  accent-color: orange;
}

section#home {
  display: grid;
  height: 100%;
  padding: 2%;
  grid-template-columns: 50% 50%;
  color: white;
}
section#home div#img_home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
section#home div h4 {
  color: inherit;
  font-size: 30px;
}
section#home div h1 {
  font-size: 55px;
}
section#home div h4::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #eb9417;
  width: 10%;
}

#form_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2%;
}
#form_container form#form {
  background-color: #273b54;
  padding: 2%;
  min-width: 50%;
  text-align: center;
}
#form_container form#form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  font-size: 18px;
  border: 1px solid orange;
  background-color: rgba(39, 59, 84, 0.5490196078);
  color: inherit;
}
#form_container form#form button {
  margin-top: 10px;
  width: 20%;
}/*# sourceMappingURL=style.css.map */